*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: #34495e;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
}

.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border: 15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
	/* transform: rotate(); */
	/* justify-content: center; */
	/* align-items: center; */
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
	padding-right: 50px;
	/* padding-bottom: 100px; */
	font-size:30px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
    /* border: 2px solid black; */
	left:135px;
}

.container .one{
	background-color: #05091a;
	left:50%;
	/* border: 2px solid black; */
	transform: rotate();
	transform: translateX(12px);
	/* z-index: 1; */

}
.container .two{
	background-color: #ff9800;
	transform: rotate(22.5deg);
}
.container .three{
	background-color: #e91e63;
	transform:rotate(45deg);
}
.container .four{
	background-color: #4caf50;
	transform: rotate(67.5deg);
}
.container .five{
	background-color: #009688;
	transform: rotate(90deg);
}
.container .six{
	background-color: #795548;
	transform: rotate(112.5deg);
}
.container .seven{
	background-color: #9c27b0;
	transform: rotate(135deg);
}
.container .eight{
	background-color: #f44336;
	transform: rotate(157.5deg);
}

.container .nine{
	background-color: #31110e;
	transform: rotate(180deg);
}

.container .ten{
	background-color: #dfd5d5;
	transform: rotate(202.5deg);
}

.container .eleven{
	background-color: #2e7947;
	transform: rotate(225deg);
}

.container .twelve{
	background-color: #552446;
	transform: rotate(247.5deg);
}

.container .thirteen{
	background-color: #f44336;
	transform: rotate(270deg);
}

.container .forteen{
	background-color: #a2e9a2;
	transform: rotate(292.5deg);
}

.container .fifteen{
	background-color: #e7f436;
	transform: rotate(315deg);
}

.container .sixteen{
	background-color: #36d8f4;
	transform: rotate(337.5deg);
	/* border: 2px solid black; */
	z-index: 0;
}

.arrow{
	position: absolute;
	top:0;
	left:50%;
	border: 2px solid black;
	transform: translateX(-50%);
	color:#fff;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}