*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: #34495e;
	background-image: url('background.jpg');
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
}

.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border: 15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 10s;
	/* transform: rotate(); */
	/* justify-content: center; */
	/* align-items: center; */
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content:center;
	padding-right: 80px;
	padding-bottom: 150px;
	/* padding-bottom: 100px; */
	font-size:30px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
    /* border: 2px solid black; */
	left:135px;
}

.container .one{
	background-color: violet;
	left:50%;
	transform: rotate();
	z-index: 1;
    mix-blend-mode:hard-light;

}
.container .two{
	background-color: indigo;
	transform: rotate(22.5deg);
}
.container .three{
	background-color: blue;
	transform:rotate(45deg);
}
.container .four{
	background-color: green;
	transform: rotate(67.5deg);
}
.container .five{
	background-color: yellow;
	transform: rotate(90deg);
}
.container .six{
	background-color: brown;
	transform: rotate(112.5deg);
}
.container .seven{
	background-color: red;
	transform: rotate(135deg);
}
.container .eight{
	background-color: orange;
	transform: rotate(157.5deg);
}

.container .nine{
	background-color: violet;
	transform: rotate(180deg);
}

.container .ten{
	background-color: rgb(240, 42, 213);
	transform: rotate(202.5deg);
}

.container .eleven{
	background-color: blue;
	transform: rotate(225deg);
}

.container .twelve{
	background-color: green;
	transform: rotate(247.5deg);
}

.container .thirteen{
	background-color: yellow;
	transform: rotate(270deg);
}

.container .forteen{
	background-color: brown;
	transform: rotate(292.5deg);
}

.container .fifteen{
	background-color: red;
	transform: rotate(315deg);
}

.container .sixteen{
	background-color: orange;
	transform: rotate(337.5deg);
	/* border: 2px solid black; */
	z-index: 0;
}

.arrow{
	position: absolute;
	top:0;
	left:50%;
	border: 2px solid black;
	transform: translateX(-50%);
	color:#fff;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}

.two span{
	color: white;
}

.menu{
	display: block;
	position: absolute;
	bottom: auto;
	right: 20px;
	border: 2px solid black;
	width: 400px;
	height: 600px;
	font-size: 25px;
	background-color: violet;
	padding: 20px;
	z-index: 2;
    transition:ease-in;
}

.menu-btn{
	display: flex;
	position: absolute;
	bottom: 50px;
	right: 150px;
	height: 50px;
	width: 150px;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor:pointer;
	border: 2px solid black;
	border-radius: 10px;
	background-color: yellow;
}

.hide{
	display: none;
	transition: 5s;
}

.center-img{
	display: block;
	position: absolute;
	height: 100px;
	width: 400px;
	top: 50px;
	left: auto;
}

.center-img:hover,.left-top:hover,.right-top:hover{
	border: 10px solid orange;
}

.left-top{
	display: block;
	position: absolute;
	height: 200px;
	width: 200px;
	top: 50px;
	left: 10px;
}

.right-top{
	display: block;
	position: absolute;
	height: 180px;
	width: 200px;
	top: 50px;
	right: 10px;
}

.menu-btn:hover{
	background-color: white;
	border: 4px solid orange;
}

.arrow{
	border: none;
	display: block;
	position: absolute;
	top: auto;
	left: 20vw;
	z-index: 1;
	height: 300px;
	width: 400px;
}